@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Mini Online Store!</h1>
<p>Asosiy sahifa</p>

<div class="container text-center mt-5">
    <h2 class="d-flex flex-column gap-4 align-items-center">
        <a href="@Url.Action("GetAllProduct", "Home")" class="btn btn-primary btn-lg btn-block" style="width:300px; height:80px; font-size:24px">
            Barcha Mahsulotlar
        </a> 
        <a href="@Url.Action("SearchProduct", "Home")" class="btn btn-success btn-lg btn-block" style="width:300px; height:80px; font-size:24px">
            Mahsulotni qidirish
        </a>
        <a href="@Url.Action("CreateProduct", "Home")" class="btn btn-success btn-lg btn-block" style="width:300px; height:80px; font-size:24px">
            Mahsulot qo'shish'
        </a>
        <a href="@Url.Action("DeleteProduct", "Home")" class="btn btn-danger btn-lg btn-block" style="width:300px; height:80px; font-size:24px">
            Mahsulotni o'chirish'
        </a>
        <a href="@Url.Action("EditProduct", "Home")" class="btn btn-warning btn-lg btn-block" style="width:300px; height:80px; font-size:24px">
            Mahsulotni tahrirlash
        </a>
    </h2>
</div>
